<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/category.css">
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <script src="js/category.js"></script>
</head>

<body>
    <header class="mui-bar mui-bar-nav lt-header">
        <h1 class="mui-title">乐淘云购</h1>
        <a href="" class="mui-icon mui-icon-search mui-pull-right"></a>
    </header>

    <nav class="mui-bar mui-bar-tab footer lt-footer">
        <a class="mui-tab-item " href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item mui-active" href="category.html">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="##">
            <span class="mui-icon fa fa-shopping-cart"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" href="##">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <div class="my-content">
        <div class="category-left">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="links" id="links">
                    </div>
                </div>
            </div>
        </div>
        <div class="category-right">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="brand-list mui-clearfix">

                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script type="text/template" id="category-first">
        <% for(var i=0;i<rows.length;i++){ %>
            <a href="javascript:;" data-id="<%= rows[i].id %>">
                <%= rows[i].categoryName %>
            </a>
            <% } %>
    </script>
    <script type="text/template" id="category-second">
        <% for(var i=0;i<rows.length;i++){ %>
            <li>
                <a href="javascript:;">
                    <img src="<%= rows[i].brandLogo %>" alt="">
                    <p><%= rows[i].brandName %></p>
                </a>
            </li>
            <% } %>

                <% if(!rows.length){ %>
                    <div>没有数据</div>
                    <% } %>
    </script>

</body>

</html>